<div class="sec2">
    <div id="b1">
    <h2 align="center">What is Audible ?</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="column">
          <div class="c1">
            <img src="../../assets/images/devices.svg">
          </div>
          <h4>Listen anywhere, anytime</h4>
          <p>
            Listen to your favourite books wherever you <br>are with
            the free Audible app - in a car, on <br>a run or even
            when ironing!
          </p>
        </div>
        <div class="column">
            <div class="c1">
              <img src="../../assets/images/narrations.svg">
            </div>
            <h4>World class narrations</h4>
            <p>
                Great books narrated by great performers.<br>
                With over 200,000 audiobooks, you are<br> sure to find the perfect listen.
              </p>
          </div>
          <div class="column">
              <div class="c1">
                <img src="../../assets/images/amazon.svg">
              </div>
              <h4>An amazon company</h4>
              <p>
                  Audible is a trusted Amazon company with<br> millions of
                   users globally so you can count <br>on privacy, security and satisfaction.
                </p>
            </div>
      </div>
    </div>
    <div id="b2"align="center">
      <button type="button">Start your free trail now</button>
      <h6>₹199 per month after 30-day trial. Cancel anytime.</h6>
    </div>
    </div>
