 <div class="bgimg">
    <div class="nav">
      <a routerLink='/signin'>Sign In</a>
      <a>|</a>
      <a routerLink='/contactus'>Contact Us</a>
    </div> 
    <div class="search">
        <input type="text" placeholder="Search for a great book" id="s1"/>
        <div id="p1">
          <button type="submit" id="s2">
          </button>
          <img src="../../assets/images/searchicon.png"/>
        </div>
    </div>
    <div style=color:white;font-weight:bolder id="s3">
      <h2><i> Books that </i></h2>
      <h1><i>Speak</i></h1>
      <h2><i>to you </i></h2>
    </div>
    <div id="s4">
      <h4>The easiest way to read, is to listen</h4>
    </div>
    <div id='s5'>
      <button type="button">Start your free trail now</button>
    </div>
    <div id="s6">
<h4>First audio book is free with monthly plan</h4>
    </div>
</div> 
<!--<h3>
<a [routerLink]="['/indianBestSellers']">indianBestSellers</a>
 <br> <a [routerLink]="['/internationalBestSellers']">internationalBestSellers</a>
 <br> <a [routerLink]="['/greatFirstListens']">greatFirstListens</a>
 <br> <a [routerLink]="['/contactus']">contactus</a>
  <a [routerLink]="['/signin']">signin</a>
</h3>
<router-outlet></router-outlet>-->